<!DOCTYPE html>
<html>
  <head>
  <style>
  .myDiv {
    text-align: center;
  }
  </style>
  </head>
  <body>
  
  <div class="myDiv">
    <h2>My Work</h2>
    <p>I'm a producer and multi-instrumentalist who feels most at home working with guitar driven pop music. I'm proficient in most major DAWs as well as the Waves plugin suite, Melodyne, and Ozone. My preferred MO is to record decisively and mix thoughtfully. Check out my slelected works below! If you have any questions, feel free to send me a message <a href="mailto:tmr005@aquinas.edu"> here.</a> </p>
  
    <h4>An indie rock track from a band I led in college</h4>

    <ph4>{% include youtubePlayer.html id="IVkL-5C8SF4" %}</p>

    <h4>A pop track with entirely original drum samples</h4>

    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/851654518&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-77944752" title="Tristan Rudolph" target="_blank" style="color: #cccccc; text-decoration: none;">Tristan Rudolph</a> · <a href="https://soundcloud.com/user-77944752/gym-clothes" title="Gym Clothes" target="_blank" style="color: #cccccc; text-decoration: none;">Gym Clothes</a></div>

  </div>

  <div class="myDiv">

    <h4>A minimal piano track with Animal Crossing samples</h4>

    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/851648548&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-77944752" title="Tristan Rudolph" target="_blank" style="color: #cccccc; text-decoration: none;">Tristan Rudolph</a> · <a href="https://soundcloud.com/user-77944752/mojito-sunrise" title="Mojito Sunrise" target="_blank" style="color: #cccccc; text-decoration: none;">Mojito Sunrise</a></div>

  </div>
  
  </body>
  </html> 