<!DOCTYPE html>
<html>
  <head>
  <style>
  .myDiv {
    text-align: center;
  }
  </style>
  </head>
  <body>
  
  <div class="myDiv">
    <h2>My Work</h2>
    <h4>Below you can find my selected works along with their accompanying descriptions. If you have any questions, feel free to send me a message <a href="mailto:tmr005@aquinas.edu"> here</a> </h4>
    <p>Please check back later.</p>
    <p>will this text be hyperlinked too?</p>
    <p>{% include youtubePlayer.html id="IVkL-5C8SF4" %}</p>
  </div>
  
  </body>
  </html> 