<!DOCTYPE html>
<html>
  <head>
  <style>
  .myDiv {
    text-align: center;
  }
  </style>
  </head>
  <body>
  
  <div class="myDiv">
    <h2>My Work</h2>
    <p>Below you can find my selected works along with their accompanying descriptions. If you have any questions, feel free to send me a message <a href="mailto:tmr005@aquinas.edu"> here!</a> </p>
    <h4>

      Here is a track I submitted to a production contest hosted by a discord community I'm a part of. The theme of the contest was "record your own samples." Here is the description I submitted with the track:
      
      This track is a testament to the versatility of the stock Ableton sampler and the iZotope Alloy drum presets. The goal was to make a no-sacrifice track with modulation and compression picking up the slack where my sampling skills failed. Samples included: lots of layered clapping, tapping a coffee mug, dropping my water bottle on my desk, and stomping on my floor.
      </h4>
      
    <p>{% include youtubePlayer.html id="IVkL-5C8SF4" %}</p>

    
    <h4></h4>

  </div>
  
  </body>
  </html> 